@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&display=swap');
:root {
  --serif-font: 'EB Garamond', serif;
  --mono-font: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  --blue: #1700FF;
  --red: #FF0000;
  --light-yellow: #FFF5CC;
  --light-brown: #CAB6AB;
  --white: #ffffff;
  --black: #000000;
}

*:focus {
  outline: none;
}

body {
  -webkit-font-smoothing: antialiased;
	background: rgb(155,206,238);
  background: linear-gradient(90deg, rgba(155,206,238,1) 0%, rgba(255,245,204,1) 30%, rgba(255,245,204,1) 70%, rgba(252,189,255,1) 100%);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.main {
  display: grid;
  grid-template-rows: 25% 50% 25%;
  text-align: center;
  min-height: 100vh;
  font-family: var(--sans-font);
}

.header {
  color: var(--red);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--serif-font);
  font-style: italic;

}

.header, .footer {
  padding: 1em 0;
}

.header h1 {
  margin: 0;
  font-size: 2rem;
  letter-spacing: 1px;
}

.counter-section {
  height: auto;
  font-size: calc(10px + 2vmin);
  color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--mono-font);
}

.counter-section h2, .counter-section p {
  font-weight: 300;
}

.counter-section h2 {
  font-size: 2rem;
}

.counter-section p, .counter-buttons button, .credits p {
  font-size: 1rem;
}

.counter-buttons button {
  margin: 0.8em;
  font-family: var(--mono-font);
}

.inc, .dec, .reset {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: 1px solid var(--black);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  color:var(--black);
  text-align: center;
  transition: all 0.5s ease;
  background-color: transparent;
}

.inc:hover, .dec:hover, .reset:hover {
  border-color: var(--red);
  background-color: var(--white);
  cursor: pointer;
} 

.counter-box {
  margin: 2rem auto;
  padding: 1rem;
  width: 50%;
  text-transform: uppercase;
}

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  transition: all 0.5s ease;
  padding-right: 1rem;
  padding-left: 1rem;
}

.footer img {
  width: 25px;
  height: auto;
}

button {
  background: transparent;
  font-family: var(--serif-font);
  transition: all 0.5s ease;
  border: none;
  text-decoration: none;
  font-size: 1.2rem;
}

button:hover {
  cursor: pointer;
}

.footer button {
  font-style: italic;
  color: var(--blue);
  transition: all 0.5s ease;
}

.footer button:hover {
  color: var(--red);
  transition: all 0.5s ease;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  z-index: 30;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  font-family: var(--serif-font);
}

.modal-main {
  position:fixed;
  background: var(--light-yellow);
  width: 40%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border: 2px solid var(--blue);
  box-shadow: 10px 8px var(--blue);
  padding: 1rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  color: var(--red);
}

.modal-top {
  display: flex;
  justify-content: flex-end;
}

.definition {
  font-family: var(--mono-font);
}

.modal-main a {
  color: var(--red);
  text-decoration: none;
  font-style: italic;
  transition: all 0.5s ease;
}

.modal-main a:hover {
  color: var(--blue);
  transition: all 0.5s ease;
}

.display-block {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.display-none {
  visibility: hidden;
}


/* Mobile */

@media (max-width: 500px) {
  .counter-section h2 {
    font-size: 1.6rem;
  }
  .counter-buttons button {
    margin: 0.8em auto;
  }
  .inc, .dec, .reset {
    display: block;
  }
  .counter-box {
    width: 100%;
  }
  .open-button {
    padding-bottom: 1rem;
  }
  .about-slider {
    position: fixed;
    height: auto;
  }
  .modal-main {
    width: 80%;
  }
}